* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ccc1c2;
}

body {


    font-family: "Merienda", cursive;

}

hr {
    border: 0;
    /* Removes default shading */
    height: 1.5px;
    /* Sets the thickness */
    background-color: #333;
    /* Match the dark color of the text */
    width: 80%;
    /* Controls how long the line is */
    margin: 40px auto;
}

.title {
    text-align: center;
    font-size: 1rem;
    color: #000000;
    margin-top: 40px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 80%;
    margin: 0 auto;
    align-items: stretch;
}

.img {
    flex: 1;
    flex-basis: 270px;
    min-width: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    height: 220px;
}

.img img {
    width: 100%;
    height: 100%;

}

.img img:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
    transition: ease-in-out 0.3s;
}